* text=auto !eol
/.buildpath -text
/.project -text
/LICENSE.txt -text
Licensing/GPL.txt -text
Licensing/README_License.txt -text
/README.txt -text
admin/base.php -text
admin/class-sp-dsgvo-admin-action.php -text
admin/class-sp-dsgvo-admin-tab.php -text
admin/class-sp-dsgvo-admin.php -text
admin/css/sp-dsgvo-admin.css -text
admin/images/logo-inline.png -text
admin/images/logo.png -text
admin/images/logo.svg -text
admin/images/logobackuppng -text
admin/images/logobackupsvg -text
admin/index.php -text
admin/js/sp-dsgvo-admin.js -text
admin/tabs/common-settings/class-sp-dsgvo-common-settings-action.php -text
admin/tabs/common-settings/class-sp-dsgvo-common-settings-activate-action.php -text
admin/tabs/common-settings/class-sp-dsgvo-common-settings-tab.php -text
admin/tabs/common-settings/page.php -text
admin/tabs/cookie-notice/class-sp-dsgvo-cookie-notice-action.php -text
admin/tabs/cookie-notice/class-sp-dsgvo-cookie-notice-tab.php -text
admin/tabs/cookie-notice/page.php -text
admin/tabs/gravity-forms/class-sp-dsgvo-gravity-forms-action.php -text
admin/tabs/gravity-forms/class-sp-dsgvo-gravity-forms-tab.php -text
admin/tabs/gravity-forms/page.php -text
admin/tabs/imprint/class-sp-dsgvo-imprint-action.php -text
admin/tabs/imprint/class-sp-dsgvo-imprint-tab.php -text
admin/tabs/imprint/page.php -text
admin/tabs/integrations/class-sp-dsgvo-integrations-action.php -text
admin/tabs/integrations/class-sp-dsgvo-integrations-tab.php -text
admin/tabs/integrations/page.php -text
admin/tabs/premium/class-sp-dsgvo-premium-action.php -text
admin/tabs/premium/class-sp-dsgvo-premium-tab.php -text
admin/tabs/premium/page.php -text
admin/tabs/privacy-policy/class-sp-dsgvo-privacy-policy-action.php -text
admin/tabs/privacy-policy/class-sp-dsgvo-privacy-policy-tab.php -text
admin/tabs/privacy-policy/page.php -text
admin/tabs/services/class-sp-dsgvo-add-service-action.php -text
admin/tabs/services/class-sp-dsgvo-delete-service-action.php -text
admin/tabs/services/class-sp-dsgvo-services-action.php -text
admin/tabs/services/class-sp-dsgvo-services-tab.php -text
admin/tabs/services/page.php -text
admin/tabs/setup/class-sp-dsgvo-create-page-action.php -text
admin/tabs/setup/class-sp-dsgvo-setup-tab.php -text
admin/tabs/setup/page.php -text
admin/tabs/subject-access-request/class-sp-dsgvo-subject-access-request-action.php -text
admin/tabs/subject-access-request/class-sp-dsgvo-subject-access-request-tab.php -text
admin/tabs/subject-access-request/page.php -text
admin/tabs/super-unsubscribe/class-sp-dsgvo-super-unsubscribe-action.php -text
admin/tabs/super-unsubscribe/class-sp-dsgvo-super-unsubscribe-tab.php -text
admin/tabs/super-unsubscribe/page.php -text
admin/tabs/terms-conditions/class-sp-dsgvo-terms-conditions-action.php -text
admin/tabs/terms-conditions/class-sp-dsgvo-terms-conditions-tab.php -text
admin/tabs/terms-conditions/page.php -text
/imprint.txt -text
includes/class-sp-dsgvo-activator.php -text
includes/class-sp-dsgvo-ajax-action.php -text
includes/class-sp-dsgvo-cron.php -text
includes/class-sp-dsgvo-data-collecter.php -text
includes/class-sp-dsgvo-deactivator.php -text
includes/class-sp-dsgvo-integration.php -text
includes/class-sp-dsgvo-loader.php -text
includes/class-sp-dsgvo-log.php -text
includes/class-sp-dsgvo-mail.php -text
includes/class-sp-dsgvo-pdf.php -text
includes/class-sp-dsgvo-settings.php -text
includes/class-sp-dsgvo-slim-model.php -text
includes/class-sp-dsgvo.php -text
includes/cron/do-delete-data-request.php -text
includes/cron/do-subject-access-request.php -text
includes/emails/feedback.html -text
includes/emails/footer.html -text
includes/emails/header.html -text
includes/emails/subject-access-request.html -text
includes/emails/super-unsubscribe.html -text
includes/helpers.php -text
includes/html/index-footer.html -text
includes/html/index-header.html -text
includes/index.php -text
includes/integrations/cf7/Cf7Integration.php -text
includes/lib/tcpdf/config/tcpdf_config.php -text
includes/lib/tcpdf/fonts/helvetica.php -text
includes/lib/tcpdf/fonts/helveticab.php -text
includes/lib/tcpdf/fonts/helveticabi.php -text
includes/lib/tcpdf/fonts/helveticai.php -text
includes/lib/tcpdf/include/barcodes/datamatrix.php -text
includes/lib/tcpdf/include/barcodes/pdf417.php -text
includes/lib/tcpdf/include/barcodes/qrcode.php -text
includes/lib/tcpdf/include/sRGB.icc -text
includes/lib/tcpdf/include/tcpdf_colors.php -text
includes/lib/tcpdf/include/tcpdf_filters.php -text
includes/lib/tcpdf/include/tcpdf_font_data.php -text
includes/lib/tcpdf/include/tcpdf_fonts.php -text
includes/lib/tcpdf/include/tcpdf_images.php -text
includes/lib/tcpdf/include/tcpdf_static.php -text
includes/lib/tcpdf/tcpdf.php -text
includes/lib/tcpdf/tcpdf_autoconfig.php -text
includes/lib/tcpdf/tcpdf_barcodes_1d.php -text
includes/lib/tcpdf/tcpdf_barcodes_2d.php -text
includes/lib/tcpdf/tcpdf_import.php -text
includes/lib/tcpdf/tcpdf_parser.php -text
includes/lib/tcpdf/tools/.htaccess -text
includes/lib/tcpdf/tools/convert_fonts_examples.txt -text
includes/lib/tcpdf/tools/tcpdf_addfont.php -text
includes/models/subject-access-request.php -text
includes/models/unsubscriber.php -text
/index.php -text
/privacy-policy.txt -text
public/actions/explicit-permission.php -text
public/actions/unsubscribe.php -text
public/actions/user-permissions.php -text
public/class-sp-dsgvo-public.php -text
public/css/sp-dsgvo-public.css -text
public/images/cookie-icon.png -text
public/images/logo.png -text
public/index.php -text
public/js/sp-dsgvo-public.js -text
public/shortcodes/decline-permission.php -text
public/shortcodes/display-services.php -text
public/shortcodes/explicit-permission.php -text
public/shortcodes/imprint.php -text
public/shortcodes/privacy-policy.php -text
public/shortcodes/privacy-settings-form.php -text
public/shortcodes/subject-access-request/download-subject-access-request.php -text
public/shortcodes/subject-access-request/subject-access-request-action.php -text
public/shortcodes/subject-access-request/subject-access-request.php -text
public/shortcodes/super-unsubscribe/unsubscribe-confirm-action.php -text
public/shortcodes/super-unsubscribe/unsubscribe-form-action.php -text
public/shortcodes/super-unsubscribe/unsubscribe-form.php -text
public/shortcodes/terms-conditions.php -text
public/test.html -text
/sp-dsgvo.php -text
/terms-conditions.txt -text
/uninstall.php -text
